* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menu-container, .content1-container{
    background-color: #1F2937;
    color: #F9FAF8;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin: 0 275px;
    padding: 25px 0;
    align-items: center;
}

.menu-container #first{
    margin-left: auto;
}

.menu-container h1{
    font-size: 24px;
}


.menu h2{
    color: #F9FAF899;
    font-size: 18px;
    margin-right: 25px;
}

.info h1{
    font-size: 48px;
    font-weight: bold;
}