* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Hidden Scrollbar for Chrome, Safari and Opera */ 
body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Menu Style */
.menu-container, .content1-container{
    background-color: #1F2937;
    color: #F9FAF8;
}

.menu{
    display: flex;
    justify-content: space-around;
    padding: 25px 200px;
    align-items: center;
}

.menu-container #first{
    margin-left: auto;
}

.menu-container h1{
    font-size: 24px;
    cursor: pointer;
}

.menu h2{
    color: #F9FAF899;
    font-size: 18px;
    margin-left: 40px;
    cursor: pointer;
}

/* First content session style */
.content1-container{
    display: flex;
    align-items: center;
    padding: 125px 200px;
}

.info h1{
    font-size: 48px;
    font-weight: 700;
}

.info p{
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

.info button{
    background-color: #3882F6;
    font-size: 17px;
    font-weight: 800;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px 35px;
    margin-top: 10px;
    margin-right: auto;
    cursor: pointer;
}

.content1-container img{
    height: auto;
    width: 600px;
    margin-left: 100px;
}

/* Second content session style */
.content2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.images{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px 225px 130px 225px;
    padding: 0 75px;
}

.images h1{
    font-size: 36px;
    font-weight: 900;
}

.content2-container img{
    border: solid 5px #3882F6;
    border-radius: 15px;
    height: auto;
    width: 170px;
}

.content2-container p{
    text-align: justify;
    text-align-last: center;
    padding: 0 35px;
}

/* Third content session style */
.content3-container{
    background-color: #E5E7EB;
    display: flex;
    padding: 150px 310px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.inspiring{
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.content3-container strong{
    font-size: 25px;
    text-align: justify;
    margin-right: 75px;
}

/* Fourth content session style */
.content4-container{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 130px 220px;
    border-radius: 10px;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content4-container button{
    margin-left: auto;
    border: #F9FAF8 3px solid;
    background-color: transparent;
    padding: 8px 45px;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

/* Footer */
footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 50px 150px;
}

